Django==4.2.19
Pillow==11.2.1
django-crispy-forms==2.1.0
crispy-bootstrap5==2023.10
django-filter==23.5
django-tables2==2.7.0
django-widget-tweaks==1.5.0
mysqlclient==2.2.4 # Pour la production avec MySQL
whitenoise==6.6.0 # Pour servir les fichiers statiques en production
gunicorn==21.2.0 # Pour le déploiement en production
python-dotenv==1.0.1 # Pour gérer les variables d'environnement
xhtml2pdf==0.2.15
